.content {
	padding: 4rem 12rem;
}

header {
	padding-bottom: 4rem;
	border-bottom: 1px solid #cccccc;
}

header h1.title {
	font-size: 3.6rem;
	margin-bottom: 2rem;
	color: #081C15;
}

header .features {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .references {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 20rem;
	margin-left: 2rem;
}

#create-account {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4rem;
	padding-bottom: 4rem;
}

#create-account .title {
	font-size: 2.4rem;
	margin-bottom: 2rem;
	color: #081C15;
}

@media only screen and (max-width: 1024px) {
  .content {
    padding: 4rem 8rem;
  }
}

@media only screen and (max-width: 768px) {
	header h1.title {
		font-size: 2.4rem;
	}

  header .features {
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 480px) {
	.content {
    padding: 4rem;
  }
}