<!DOCTYPE html>
<html lang="en">
	<%- include('components/head-settings', { title: "Welcome | ToDo", cssFile: "auth.css" }) %>

	<body>
		<main class="container">
			<div class="content">
				<header>
					<h1 class="title">Let's organize your tasks!</h1>

					<div class="features">
						<p class="common-text mb-m">
							It's a simple "To Do" application created to practice concepts of 
							<strong class="common-text">EJS</strong>, 
							<strong class="common-text">NestJS</strong> 
							and 
							<strong class="common-text">MongoDB</strong>.
						</p>
	
						<div class="references">
							<div class="mb-m">
								<img class="mr-m" src="images/ejs-logo.svg" alt="EJS logo" />
								<img class="mr-m"src="images/nest-logo.svg" alt="NestJS logo" />
								<img src="images/mongo-logo.svg" alt="MongoDB logo" />
							</div>
							
							<div>
								<button 
									id="github-button"
									class="primary-button mr-m" 
								>GitHub</button>
	
								<button 
									id="portfolio-button"
									class="primary-button"
									>Portfolio</button>
							</div>
						</div>
					</div>
				</header>

				<section id="create-account">
					<h3 class="title">Create an account</h3>

					<div class="primary-input-container mb-m">
						<label class="primary-input-label" for="username-input">Username</label>
						<input 
							id="username-input"
							class="primary-input" 
							type="text" 
							placeholder="john_doe" 
						/>
					</div>

					<div class="primary-input-container mb-m">
						<label class="primary-input-label" for="password-input">Password</label>
						<input 
							id="password-input"
							class="primary-input" 
							type="password" 
							placeholder="********" 
						/>
					</div>

					<div class="mb-l">
						<button 
							id="sign-up-button"
							class="primary-button mr-m" 
						>Sign Up</button>
	
						<button 
							id="login-button"
							class="primary-button" 
						>Login</button>
					</div>
				</section>
			</div>
		</main>

		<!-- Javascript -->
		<script src="scripts/auth.js"></script>
	</body>
</html>