<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sign Up | ToDo</title>
		
		<!-- Styles -->
		<link href="styles/globals.css" rel="stylesheet" />
		<link href="styles/sign-up.css" rel="stylesheet" />

		<!-- Favicon -->
		<link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
		
		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	</head>

	<body>
		<h1 class="test">Let's register a new user</h1>
	</body>
</html>