<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sign Up | ToDo</title>
		
		<link href="globals.css" rel="stylesheet" />
		<link href="sign-up.css" rel="stylesheet" />
	</head>

	<body>
		<h1 class="test">Let's register a new user</h1>
	</body>
</html>