<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sign Up | ToDo</title>
		
		<!-- Styles -->
		<link href="styles/globals.css" rel="stylesheet" />
		<link href="styles/sign-up.css" rel="stylesheet" />

		<!-- Favicon -->
		<link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
		
		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

		<!-- Toast Library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
	</head>

	<body>
		<main class="container">
			<div class="content">
				<header>
					<h1 class="title">Let's organize your tasks!</h1>

					<p class="common-text mb-m">
						It's a simple "To Do" application created to practice concepts of 
						<strong class="common-text">EJS</strong>, 
						<strong class="common-text">NestJS</strong> 
						and 
						<strong class="common-text">MongoDB</strong>.
					</p>

					<div class="references">
						<div>
							<img class="mr-m" src="images/ejs-logo.svg" alt="EJS logo" />
							<img class="mr-m"src="images/nest-logo.svg" alt="NestJS logo" />
							<img src="images/mongo-logo.svg" alt="MongoDB logo" />
						</div>
						
						<div>
							<button 
								id="github-button"
								class="primary-button mr-m" 
							>GitHub</button>

							<button 
								id="portfolio-button"
								class="primary-button"
								>Dev's Portfolio</button>
						</div>
					</div>
				</header>

				<section id="create-account">
					<h3 class="title">Create an account</h3>

					<div class="primary-input-container mb-m">
						<label class="primary-input-label" for="username-input">Username</label>
						<input 
							id="username-input"
							class="primary-input" 
							type="text" 
							placeholder="john_doe" 
						/>
					</div>

					<div class="primary-input-container mb-m">
						<label class="primary-input-label" for="password-input">Password</label>
						<input 
							id="password-input"
							class="primary-input" 
							type="password" 
							placeholder="********" 
						/>
					</div>

					<button 
						id="sign-up-button"
						class="primary-button mb-l" 
					>Sign Up!</button>

					<p class="common-text">
						If you already have an account,
						<a class="link" href="/login">go to login</a>
					</p>
				</section>
			</div>
		</main>

		<!-- Javascript -->
		<script src="scripts/sign-up.js"></script>
	</body>
</html>